:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.87);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 1;
}

h2 {
  line-height: 0;
}

h3 {
  margin-block-end: 0;
  margin-block-start: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.7em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e1e1e1;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: 10px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.headingView {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerSection {
  display: flex;
  flex-direction: column;
}

.editHeader {
  width: 7%;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.moreExp {
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.workExpSection {
  display: flex;
  flex-direction: column;
}

.workBtns {
  display: flex;
}

.editWorkBtn, .deleteWorkBtn {
  width: 7%;
  display: flex;
  justify-content: center;
  align-self: flex-start;
  flex-direction: row;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: inline-block;
}

input {
  padding-left: 5px;
  width: auto;
}